# Archivos y directorios generados por Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
*.log

# Directorios de entornos virtuales
venv/
*.virtualenv/
entorno_miniblog/

# Archivos de configuración sensibles
.env

# Archivos generados por el sistema
.DS_Store
Thumbs.db

# Archivos generados por IDEs
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
